/*
Error: Invalid US-ASCII character "\xE9"
        on line 12 of /Users/botue/www/paradise/scss/index.scss

7: 
8: @import 'adapter';
9: 
10: @import 'base';
11: 
12: // 首页
13: .index {
14:     padding-bottom: 150rem / $baseGrid;
15: 
16:     // 焦点图
17:     .banner {

Backtrace:
/Users/botue/www/paradise/scss/index.scss:12
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/util.rb:1300:in `rescue in block in find_encoding_error'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/util.rb:1297:in `block in find_encoding_error'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each_with_index'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `find_encoding_error'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/util.rb:905:in `check_sass_encoding'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/engine.rb:436:in `check_encoding!'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/engine.rb:392:in `_to_tree'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/botue/.gem/ruby/2.0.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/botue/.gem/ruby/2.0.0/bin/sass:23:in `load'
/Users/botue/.gem/ruby/2.0.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE9\"\A         on line 12 of /Users/botue/www/paradise/scss/index.scss\A \A 7: \A 8: @import 'adapter';\A 9: \A 10: @import 'base';\A 11: \A 12: // 首页\A 13: .index {\A 14:     padding-bottom: 150rem / $baseGrid;\A 15: \A 16:     // 焦点图\A 17:     .banner {"; }
