
@charset 'UTF-8';

@import 'fonts';

@import 'normalize';

@import 'adapter';

@import 'base';

// 活动详情
.detail {

    padding-bottom: 150rem / $baseGrid;
    
    // 封面
    .cover {
        position: relative;
    }
    
    // 信息
    .meta {
        padding: 15rem / $baseGrid 30rem / $baseGrid 18rem / $baseGrid;
        background-color: #FFF;
        position: relative;

        p.title {
            line-height: 1.4;
            margin-bottom: 30rem / $baseGrid;
            font-size: 40rem / $baseGrid;
            color: #3C3C3C;
        }

        .label {
            position: absolute;
            bottom: 15rem / $baseGrid;
            right: 30rem / $baseGrid;
            
            font-size: 36rem / $baseGrid;
            color: #FE6249;
        }

        p.info {
            
            color: #B4B4B4;

            span {
                margin-right: 9rem / $baseGrid;
            }
        }
    }
    
    // 面板
    .panel {
        padding: 0 30rem / $baseGrid;
        background-color: #FFF;
        margin-top: 24rem / $baseGrid;

        h5 {
            line-height: 1;
            padding: 30rem / $baseGrid 0;
            margin-right: -30rem / $baseGrid;
            font-size: 36rem / $baseGrid;
            font-weight: normal;
            color: #3C3C3C;
            border-bottom: 1px solid #EEE;
        }
    }

    // 其它
    .extra {

        li {
            line-height: 1;
            padding: 30rem / $baseGrid;
            padding-left: 0;
            margin-right: -30rem / $baseGrid;
            
            color: #6C6C6C;
            border-bottom: 1px solid #EEE;

            &:last-child {
                border: 0 none;
            }
        }

        span {
            float: right;
        }
    }

    // 详情
    .content {

        h5 {
            line-height: 1;
            padding: 36rem / $baseGrid 0;
            margin-right: -30rem / $baseGrid;
            font-size: 36rem / $baseGrid;
            font-weight: normal;
            color: #3C3C3C;
            border-bottom: 1px solid #EEE;
        }

        .richtxt {
            padding: 12rem / $baseGrid 0 28rem / $baseGrid;
            overflow: hidden;
            position: relative;
        }

        .collapsed {
            height: 1290rem / $baseGrid;

            .expand {
                display: flex;
            }
        }

        .expand {
            position: absolute;
            bottom: 0;
            
            display: none;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 180rem / $baseGrid;
            color: #45B8FF;
            font-size: 30rem / $baseGrid;
            background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));

            span {
                margin-bottom: 36rem / $baseGrid;
            }
        }

        h6 {
            line-height: 1;
            margin: 27rem / $baseGrid 0;
            color: #3C3C3C;
            font-size: 32rem / $baseGrid;
            font-weight: normal;
        }

        p {
            line-height: 1.5;
            margin: 12rem / $baseGrid 0;
            color: #6C6C6C;
            
            text-indent: 60rem / $baseGrid;
        }
    }

    // 须知
    .notice {
        overflow: hidden;

        ul {
            padding: 15rem / $baseGrid 0;
        }

        li {
            line-height: 1;
            padding: 16rem / $baseGrid 0;
            color: #6C6C6C;
            
            overflow: hidden;

            &:before {
                content: '';
                display: block;
                float: left;
                width: 18rem / $baseGrid;
                height: 18rem / $baseGrid;
                margin: 6rem / $baseGrid;
                background-color: #D8D8D8;
                border-radius: 50%;
            }
        }

        .contact {
            display: block;
            text-align: center;
            line-height: 1;
            padding: 24rem / $baseGrid;
            margin-bottom: 30rem / $baseGrid;
            
            color: #969696;
            border: 1px solid #DDD;
            border-radius: 4rem / $baseGrid;
        }
    }

    // 提示
    .tips {

        ul {
            padding: 24rem / $baseGrid 0;
        }

        li {
            line-height: 1.5;
            margin-bottom: 15rem / $baseGrid;

            color: #6C6C6C;
        }
    }

    .footer {
        // 立即报名
        a.join {
            display: block;
            text-align: center;
            line-height: 1;
            padding: 38rem / $baseGrid 0;
            font-size: 45rem / $baseGrid;
            color: #FFF;
            background-color: #FECA49;
        }
    }
}










